@media (max-width: 1190px) {
  .wrapper {
    padding: 0 15px;
  }
  .slider-inner {
    width: 100%;
  }
  .content-inner {
    width: 100%;
  }
  .content-inner .items-container {
    justify-content: space-around;
  }
  .instagram-feed {
    padding-bottom: 10px;
  }
  .instagram-feed .instagram-feed__profile-photos {
    justify-content: space-around;
  }
  .instagram-feed .instagram-feed__profile-photos .instagram-photo {
    width: 300px;
    height: 300px;
    margin: 0 0 20px 0;
  }
  .social-box {
    height: 80px;
  }
  .social-box .social-box__facebook, .social-box .social-box__twitter, .social-box .social-box__pinterest {
    background-size: 20px;
  }
}

@media (max-width: 992px) {
  .content-inner {
    width: 100%;
  }
  .content-inner .items-container {
    justify-content: space-around;
  }
  .brands {
    height: 100px;
    background-size: contain;
  }
  .instagram-feed .instagram-feed__profile-name {
    padding: 20px 0;
  }
  .instagram-feed .instagram-feed__profile-photos .instagram-photo {
    width: 250px;
    height: 250px;
  }
  footer .footer-main {
    flex-direction: column;
    padding: 20px 15px;
  }
  footer .footer-main .footer-navigation, footer .footer-main .footer-newsletter-about-us {
    justify-content: space-around;
  }
  footer .footer-main .footer-navigation {
    padding: 0 0 25px 0;
  }
}

@media (max-width: 768px) {
  .mobile-menu-toggle {
    display: block;
  }
  .slider {
    display: none;
  }
  body {
    padding-top: 121px;
  }
  aside {
    display: none;
  }
  header {
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;
    margin: 0 0 20px 0;
    align-items: center;
    position: fixed;
    z-index: 12;
    left: 0;
    right: 0;
    top: 0;
    background: #abeafa;
  }
  header .logo {
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: 0;
  }
  header .header-social {
    margin: 15px 0 0 0;
  }
  .content-inner .content-title-box {
    flex-direction: column;
  }
  .brands {
    height: 80px;
    background-size: contain;
  }
  .instagram-feed .instagram-feed__profile-photos .instagram-photo {
    width: 200px;
    height: 200px;
  }
  footer .footer-main .footer-navigation, footer .footer-main .footer-newsletter-about-us {
    justify-content: space-between;
  }
  footer .footer-navigation .footer-navigation-box {
    display: flex;
    flex-direction: column;
  }
  footer .footer-navigation .footer-navigation-box h4 {
    margin: 15px 0 5px 0;
  }
}

@media (max-width: 576px) {
  .mobile-menu-wrapper {
    top: 100px;
    width: 100%;
    height: 100%;
  }
  footer .footer-main .footer-navigation, footer .footer-main .footer-newsletter-about-us {
    flex-direction: column;
  }
  footer .footer-newsletter {
    margin-bottom: 25px;
  }
  .footer-secondary-inner {
    flex-direction: column;
    align-items: center;
  }
  .footer-secondary-inner .footer-secondary__rights {
    margin: 0 0 10px 0;
  }
}
