@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  padding: 0;
  margin: 0;
}

body {
  background: #f8f8f8;
}

.wrapper {
  max-width: 1175px;
  margin: 0 auto;
}

.blue-bg {
  background: #abeafa;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 0 0;
  margin: 0 0 43px 0;
}

header .logo {
  margin: 0 0 0 70px;
  display: inline-block;
  width: 125px;
  height: 111px;
  background: url("../images/surfhouse_logo.png") no-repeat center;
}

header .header-social {
  display: flex;
  flex-direction: row;
  margin: 25px 70px 0 0;
}

header .header-social .header-social__icon {
  width: 16px;
  height: 16px;
}

header .header-social .header-social__facebook {
  background: url("../images/facebook_icon.png") no-repeat center;
  margin: 0 15px 0 0;
}

header .header-social .header-social__twitter {
  background: url("../images/twitter_icon.png") no-repeat center;
  margin: 0 15px 0 0;
}

header .header-social .header-social__youtube {
  background: url("../images/youtube_icon.png") no-repeat center;
  margin: 0 15px 0 0;
}

header .header-social .header-social__pinterest {
  background: url("../images/pinterest_icon.png") no-repeat center;
  margin: 0 15px 0 0;
}

header .header-social .header-social__instagram {
  background: url("../images/insta_icon.png") no-repeat center;
  margin: 0 15px 0 0;
}

.slider {
  padding: 0 0 55px 0;
}

.slider-sidebar {
  width: 270px;
}

.slider-sidebar .login-wishlist {
  font-size: 0;
  background: #f8f8f8;
}

.slider-sidebar .login-wishlist a {
  text-decoration: none;
  color: #fb4d01;
  font: 12px 'Raleway', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  width: 50%;
  line-height: 26px;
  text-align: center;
}

.slider-sidebar .login-wishlist a:hover {
  text-decoration: underline;
}

.slider-sidebar .cart-box {
  background: url("../images/icon_cart.png") no-repeat left center #fb4d01;
  background-position: 28px 15px;
  padding: 15px 15px 12px 80px;
  display: flex;
  justify-content: space-between;
}

.slider-sidebar .cart-box .cart-amount {
  font: 18px 'Raleway', sans-serif;
  color: #fff;
  font-weight: 700;
}

.slider-sidebar .cart-box .cart-quantity {
  margin-top: 1px;
  display: block;
  font: 12px 'Raleway', sans-serif;
  color: #faef03;
}

.slider-sidebar .cart-box .cart-box__edit {
  width: 30px;
  height: 30px;
  background: url("../images/edit-cart-icon.png") no-repeat top;
  font: 10px 'Raleway', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 5px 0 0 0;
  cursor: pointer;
}

.slider-sidebar .view-cart-checkout {
  font-size: 0;
}

.slider-sidebar .view-cart-checkout a {
  color: #fff;
  display: inline-block;
  font: 11px 'Raleway', sans-serif;
  width: 50%;
  text-align: center;
  padding: 7px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.slider-sidebar .view-cart-checkout a:hover {
  text-decoration: underline;
}

.slider-sidebar .view-cart-checkout .view-cart {
  background: #ee4a02;
}

.slider-sidebar .view-cart-checkout .checkout {
  background: #e24602;
}

.slider-sidebar .search {
  display: flex;
  align-items: center;
  background: #e9e9e9;
  padding: 0 0 0 10px;
}

.slider-sidebar .search input {
  background: none;
  width: 100%;
  border: 0 none;
}

.slider-sidebar .search input::placeholder {
  font: 11px 'Raleway', sans-serif;
  color: #0c0c0c;
}

.slider-sidebar .search input:focus {
  outline: medium none;
}

.slider-sidebar .search .clear-input {
  display: inline-block;
  width: 40px;
  height: 34px;
  background: url("../images/clear-input-icon.png") no-repeat center;
  text-align: center;
}

.slider-sidebar .search .search-btn {
  width: 40px;
  height: 34px;
  background: url("../images/search-icon.png") #333 no-repeat center;
  border: 0 none;
  cursor: pointer;
}

.slider-sidebar .search .search-btn:focus {
  outline: medium none;
}

.slider-sidebar .intro {
  margin: 10px 0 0 0;
  background: #fff51f;
  padding: 80px 25px 85px;
}

.slider-sidebar .intro h3 {
  font: bold 30px 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-bottom: 19px;
  letter-spacing: -0.90px;
  line-height: 30px;
}

.slider-sidebar .intro p {
  font: bold 18px 'Raleway', sans-serif;
  line-height: 14px;
  font-style: italic;
  letter-spacing: 0;
  white-space: pre-wrap;
}

aside {
  width: 270px;
}

aside .side-block {
  padding: 30px;
  background: #fff;
}

aside .side-block h4 {
  font: italic 24px 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 0 20px 0;
}

aside .side-block .view-all-btn {
  font: italic 14px 'Roboto', sans-serif;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  position: relative;
  padding: 0 20px 0 0;
}

aside .side-block .view-all-btn:hover {
  text-decoration: underline;
}

aside .side-block .view-all-btn::after {
  content: '→';
  position: absolute;
  right: 0;
}

aside .menu {
  font: 14px 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #26d2fc;
}

aside .menu .menu-title {
  color: #fff;
  height: 66px;
  line-height: 74px;
  padding: 0 10px 0 42px;
  background: #333;
}

aside .menu .menu-list {
  margin-top: 7px;
}

aside .menu .menu-list li {
  list-style-type: none;
}

aside .menu .menu-list li a {
  padding: 0px 10px 0 40px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 36px;
  transition: all .3s ease;
  letter-spacing: -0.8px;
}

aside .menu .menu-list li a:hover {
  background: #333;
  color: #fff;
}

aside .banner {
  background: #e0e0e0;
  padding: 120px 15px 73px;
  display: flex;
  justify-content: flex-end;
}

aside .banner p {
  width: 115px;
  font: italic 36px 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 37px;
  margin: 0 35px 0 0;
}

aside .tags-widget .tags-widget__tags-list {
  font-size: 0;
}

aside .tags-widget .tags-widget__tags-list a {
  font: 12px 'Roboto', sans-serif;
  display: inline-block;
  padding: 10px 12px;
  background: #e9e9e9;
  color: #333;
  text-decoration: none;
  margin: 0 10px 10px 0;
  text-transform: capitalize;
}

aside .article-experts__article-experts-list {
  display: flex;
  flex-direction: column;
}

aside .article-experts__article-experts-list a {
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin-bottom: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
}

.content-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.content-title-box .content-title {
  text-transform: uppercase;
  color: #707070;
  font-style: italic;
}

.content-title-box .content-title-arrows {
  font-size: 0;
}

.content-title-box .content-title-arrows a {
  text-decoration: none;
  color: #404040;
  font-size: 20px;
  margin: 0 10px;
}

.content-title-box .content-title-arrows a:hover {
  font-weight: bold;
}

.items-container {
  display: flex;
  justify-content: space-between;
}

.items-container .product-item {
  border: solid 1px blue;
  position: relative;
  padding: 10px;
  background: #fff;
}

.items-container .product-item .product-image {
  width: 250px;
  height: 230px;
  background: #eaeaea;
}

.items-container .product-item .product-info-box {
  padding: 15px 0 10px;
  display: flex;
  justify-content: space-between;
}

.items-container .product-item .product-info-box .product-name {
  max-width: 170px;
  border: solid 1px red;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.items-container .product-item .product-info-box .product-price {
  font-size: 18px;
  font-weight: 700;
}

.brands {
  height: 160px;
  background: url("../images/brands.png") #fff no-repeat center;
}

.social-box {
  display: flex;
  height: 150px;
}

.social-box .social-box__facebook {
  background: url("../images/f_big_icon.png") no-repeat center #3b5997;
  flex-grow: 1;
}

.social-box .social-box__twitter {
  background: url("../images/tw_big_icon.png") no-repeat center #3fccfd;
  flex-grow: 1;
}

.social-box .social-box__pinterest {
  background: url("../images/pint_big_icon.png") no-repeat center #cb2027;
  flex-grow: 1;
}

footer {
  background: #373737;
}

footer .footer-main {
  display: flex;
  padding: 71px 0 60px;
  justify-content: space-around;
  color: #fff;
}

footer .footer-main h4 {
  font: 18px 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

footer .footer-main p {
  font: 12px 'Roboto', sans-serif;
}

footer .footer-navigation {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .footer-navigation .footer-navigation-box {
  display: flex;
  flex-direction: column;
}

footer .footer-navigation .footer-navigation-box h4 {
  margin: 0 0 23px 0;
}

footer .footer-navigation .footer-navigation-box a {
  color: #fff;
  font: 12px 'Roboto', sans-serif;
  text-decoration: none;
  line-height: 18px;
}

footer .footer-navigation .footer-navigation-box a:hover {
  text-decoration: underline;
}

footer .footer-newsletter {
  max-width: 270px;
  border: 1px solid #f00;
}

footer .footer-about-us {
  max-width: 270px;
  border: 1px solid #0f0;
}
